.d3SimpleGauge {
  cursor: pointer;

  .background {
    fill: transparent;
  }

  .showHover {
    opacity: 0;
  }

  .primaryLabels > text {
    text-anchor: middle;
  }

  .secondaryLabels > text {
    text-anchor: middle;
    fill: #f9a535;
  }

  .showHover, .hideHover {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }

  &:hover {
    .hideHover {
      opacity: 0;
    }

    .showHover {
      opacity: 1;
    }
  }
}
